<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>CWM</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/css/styles.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    />
  </head>
  <body>
    <div id="wrapper">
      <nav
        class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0"
        style="background: linear-gradient(90deg, #232732 0%, #1f232d 100%)"
      >
        <div class="container-fluid d-flex flex-column p-0">
          <a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
            href="students_dashboard.html"
            ><div class="sidebar-brand-icon">
              <img
                class="logo"
                src="/assets/img/HIT%20LOGO.png"
                style="width: 120px; height: 100px"
              /></div
          ></a>
          <hr class="sidebar-divider my-0" />
          <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
              <a class="nav-link" href="students_dashboard.html"
                ><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a
              ><a class="nav-link" href="/user/admin/dashboard/students"
                >Students<i class="fas fa-table"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/admin/dashboard/school"
                ><i class="fas fa-table"></i>School</a
              ><a class="nav-link" href="projects.html"
                ><i class="fas fa-table"></i>Programs</a
              ><a class="nav-link" href="projects.html"
                ><i class="fas fa-table"></i>Lecturer</a
              ><a class="nav-link" href="projects.html"
                ><i class="fas fa-table"></i>Course</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="clients.html"
                ><i class="fas fa-handshake"></i
                ><span>Coursework requests</span></a
              >
            </li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
          </ul>
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
      <div
        class="d-flex flex-column"
        id="content-wrapper"
        style="background: #2d2f3e"
      >
        <div id="content" style="color: #2d2f3e">
          <nav
            class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top"
            style="background: #1f232d"
          >
            <div class="container-fluid">
              <button
                class="btn btn-light d-md-none rounded-circle me-3"
                id="sidebarToggleTop"
                type="button"
              >
                <i class="fas fa-bars"></i>
              </button>
              <ul class="navbar-nav flex-nowrap ms-auto">
                <li class="nav-item dropdown d-sm-none no-arrow">
                  <a
                    class="dropdown-toggle nav-link"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    href="#"
                    ><i class="fas fa-search"></i
                  ></a>
                  <div
                    class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                    aria-labelledby="searchDropdown"
                  >
                    <form class="me-auto navbar-search w-100">
                      <div class="input-group">
                        <input
                          class="bg-light form-control border-0 small"
                          type="text"
                          placeholder="Search for ..."
                        />
                        <div class="input-group-append">
                          <button class="btn btn-primary py-0" type="button">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                  <div class="nav-item dropdown no-arrow">
                    <a
                      class="dropdown-toggle nav-link"
                      aria-expanded="false"
                      data-bs-toggle="dropdown"
                      href="#"
                    ></a>
                    <div
                      class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in"
                    >
                      <h6 class="dropdown-header">alerts center</h6>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                        ><div class="me-3">
                          <div class="bg-primary icon-circle">
                            <i class="fas fa-file-alt text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="small text-gray-500"
                            >December 12, 2019</span
                          >
                          <p>A new monthly report is ready to download!</p>
                        </div></a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                        ><div class="me-3">
                          <div class="bg-success icon-circle">
                            <i class="fas fa-donate text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="small text-gray-500"
                            >December 7, 2019</span
                          >
                          <p>$290.29 has been deposited into your account!</p>
                        </div></a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                        ><div class="me-3">
                          <div class="bg-warning icon-circle">
                            <i
                              class="fas fa-exclamation-triangle text-white"
                            ></i>
                          </div>
                        </div>
                        <div>
                          <span class="small text-gray-500"
                            >December 2, 2019</span
                          >
                          <p>
                            Spending Alert: We've noticed unusually high
                            spending for your account.
                          </p>
                        </div></a
                      ><a
                        class="dropdown-item text-center small text-gray-500"
                        href="#"
                        >Show All Alerts</a
                      >
                    </div>
                  </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                  <div class="nav-item dropdown no-arrow">
                    <a
                      class="dropdown-toggle nav-link"
                      aria-expanded="false"
                      data-bs-toggle="dropdown"
                      href="#"
                    ></a>
                    <div
                      class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in"
                    >
                      <h6 class="dropdown-header">alerts center</h6>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                        ><div class="dropdown-list-image me-3">
                          <img
                            class="rounded-circle"
                            src="/assets/img/avatars/avatar4.jpeg"
                          />
                          <div class="bg-success status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate">
                            <span
                              >Hi there! I am wondering if you can help me with
                              a problem I've been having.</span
                            >
                          </div>
                          <p class="small text-gray-500 mb-0">
                            Emily Fowler - 58m
                          </p>
                        </div></a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                        ><div class="dropdown-list-image me-3">
                          <img
                            class="rounded-circle"
                            src="/assets/img/avatars/avatar2.jpeg"
                          />
                          <div class="status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate">
                            <span
                              >I have the photos that you ordered last
                              month!</span
                            >
                          </div>
                          <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                        </div></a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                        ><div class="dropdown-list-image me-3">
                          <img
                            class="rounded-circle"
                            src="/assets/img/avatars/avatar3.jpeg"
                          />
                          <div class="bg-warning status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate">
                            <span
                              >Last month's report looks great, I am very happy
                              with the progress so far, keep up the good
                              work!</span
                            >
                          </div>
                          <p class="small text-gray-500 mb-0">
                            Morgan Alvarez - 2d
                          </p>
                        </div></a
                      ><a
                        class="dropdown-item d-flex align-items-center"
                        href="#"
                        ><div class="dropdown-list-image me-3">
                          <img
                            class="rounded-circle"
                            src="/assets/img/avatars/avatar5.jpeg"
                          />
                          <div class="bg-success status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate">
                            <span
                              >Am I a good boy? The reason I ask is because
                              someone told me that people say this to all dogs,
                              even if they aren't good...</span
                            >
                          </div>
                          <p class="small text-gray-500 mb-0">
                            Chicken the Dog · 2w
                          </p>
                        </div></a
                      ><a
                        class="dropdown-item text-center small text-gray-500"
                        href="#"
                        >Show All Alerts</a
                      >
                    </div>
                  </div>
                  <div
                    class="shadow dropdown-list dropdown-menu dropdown-menu-end"
                    aria-labelledby="alertsDropdown"
                  ></div>
                </li>
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow">
                  <div class="nav-item dropdown no-arrow">
                    <a
                      class="dropdown-toggle nav-link"
                      aria-expanded="false"
                      data-bs-toggle="dropdown"
                      href="#"
                      ><span class="d-none d-lg-inline me-2 text-gray-100 small"
                        >Admin Name</span
                      ><img
                        class="border rounded-circle img-profile"
                        src="/assets/img/avatars/avatar5.jpeg"
                    /></a>
                    <div
                      class="dropdown-menu shadow dropdown-menu-end animated--grow-in"
                    >
                      <a class="dropdown-item" href="#"
                        ><i
                          class="fas fa-user fa-sm fa-fw me-2 text-gray-400"
                        ></i
                        >&nbsp;Profile</a
                      ><a class="dropdown-item" href="#"
                        ><i
                          class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"
                        ></i
                        >&nbsp;Settings</a
                      ><a class="dropdown-item" href="#"
                        ><i
                          class="fas fa-list fa-sm fa-fw me-2 text-gray-400"
                        ></i
                        >&nbsp;Activity log</a
                      >
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                        ><i
                          class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"
                        ></i
                        >&nbsp;Logout</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container-fluid" style="margin-bottom: 50px">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6">
                <h3 class="text-white mb-4">Dashboard</h3>
              </div>
            </div>
            <div
              class="card"
              id="TableSorterCard"
              style="border-style: none; border-radius: 6.5px"
            >
              <div
                class="card-header py-3"
                style="border-width: 0px; background: rgb(23, 25, 33)"
              >
                <div class="row table-topper align-items-center">
                  <div
                    class="col-12 col-sm-5 col-md-6 col-xxl-6 text-start"
                    style="margin: 0px; padding: 5px 15px"
                  >
                    <p class="m-0 fw-bold" style="color: rgb(255, 255, 255)">
                      Course Details
                    </p>
                  </div>
                  <div
                    class="col-12 col-sm-7 col-md-6 text-end"
                    style="margin: 0px; padding: 5px 15px"
                  >
                    <div class="dropdown">
                      <button
                        class="btn btn-primary dropdown-toggle"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        type="button"
                      >
                        select&nbsp; course
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">First Item</a
                        ><a class="dropdown-item" href="#">Second Item</a
                        ><a class="dropdown-item" href="#">Third Item</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div
                    class="table-responsive"
                    style="border-top-style: none; background: #171921"
                  >
                    <table
                      class="table table-striped table tablesorter"
                      id="ipi-table"
                    >
                      <thead
                        class="thead-dark"
                        style="
                          background: rgb(33, 37, 48);
                          border-width: 0px;
                          border-color: rgb(0, 0, 0);
                          border-bottom-color: #21252f;
                        "
                      >
                        <tr
                          style="
                            border-style: none;
                            border-color: rgba(255, 255, 255, 0);
                            background: #21252f;
                          "
                        >
                          <th class="text-center">Students' Reg Number</th>
                          <th class="text-center">Course Code</th>
                          <th class="text-center">TCW</th>
                          <th class="text-center filter-false sorter-false">
                            Eligibility
                          </th>
                        </tr>
                      </thead>
                      <tbody class="text-center" style="border-top-width: 0px">
                        <tr style="background: #262a38">
                          <td style="color: rgb(255, 255, 255)">H220008E</td>
                          <td style="color: rgb(255, 255, 255)">IIT2101</td>
                          <td style="color: rgb(255, 255, 255)">90%</td>
                          <td
                            class="text-center align-middle"
                            style="max-height: 60px; height: 60px"
                          >
                            <button
                              class="btn btn-primary"
                              type="button"
                              style="--bs-body-bg: var(--bs-green)"
                            >
                              Pass
                            </button>
                          </td>
                        </tr>
                        <tr style="background: #212430">
                          <td style="color: rgb(255, 255, 255)">H220042V</td>
                          <td style="color: rgb(255, 255, 255)">IIT2101</td>
                          <td style="color: rgb(255, 255, 255)">44%</td>
                          <td
                            class="text-center align-middle"
                            style="max-height: 60px; height: 60px"
                          >
                            <button
                              class="btn btn-primary"
                              type="button"
                              style="
                                background: var(--bs-red);
                                border-color: var(--bs-red);
                                --bs-body-bg: var(--bs-red);
                              "
                            >
                              Fail
                            </button>
                          </td>
                        </tr>
                        <tr style="background: #212430">
                          <td style="color: rgb(255, 255, 255)">H220042E</td>
                          <td style="color: rgb(255, 255, 255)">IIT2101</td>
                          <td style="color: rgb(255, 255, 255)">67%</td>
                          <td
                            class="text-center align-middle"
                            style="max-height: 60px; height: 60px"
                          >
                            <button
                              class="btn btn-primary"
                              type="button"
                              style="
                                background: var(--bs-red);
                                border-color: var(--bs-red);
                                --bs-body-bg: var(--bs-red);
                              "
                            >
                              Pass
                            </button>
                          </td>
                        </tr>
                        <tr style="background: #212430">
                          <td style="color: rgb(255, 255, 255)">H220390X</td>
                          <td style="color: rgb(255, 255, 255)">IIT2101</td>
                          <td style="color: rgb(255, 255, 255)">80%</td>
                          <td
                            class="text-center align-middle"
                            style="max-height: 60px; height: 60px"
                          >
                            <button
                              class="btn btn-primary"
                              type="button"
                              style="
                                background: var(--bs-red);
                                border-color: var(--bs-red);
                                --bs-body-bg: var(--bs-red);
                              "
                            >
                              Pass
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer
          class="bg-white sticky-footer"
          style="background: linear-gradient(#1f232d 0%, #1f232d 100%)"
        >
          <div class="container my-auto">
            <div
              class="text-center my-auto copyright text-gray-100"
              style="font-size: 13.5px"
            >
              <span>Copyright © HIT&nbsp;<span id="year">2024</span></span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
  </body>
</html>
